@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto&display=swap');
@import url('./variables.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* set 1rem = 10px */
  scroll-behavior: smooth;
 }

body {
  font-family: Roboto, 'Open Sans', sans-serif;
  background-color: var(--primary);
  font-size: 1.6rem;
}

h1,
h2,
h3{
  line-height: 1.3;
  font-weight: 300;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin-top: 2.5rem;
  font-size: 1.8rem;
}

header,
footer {
  flex: 0 0 auto;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

header nav ul li a {
  text-decoration: none;
  color: var(--gray1);
  padding: 1rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  color: var(--gray1);
  border-bottom: 3px solid var(--secondary);
}

header .cta {
  margin-left: 3rem;
}

header .cta a {
  padding: 5px 10px;
  border-radius: .5rem;
  color: #fff;
  background-color: var(--secondary);
  box-shadow: 0px 15px 20px rgb(46 229 157 / 40%);
}

header .cta a:hover,
header .cta a:focus {
  border: none;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: var(--gray1);
}

.profile-thumb {
  background-image: url("./images/bablu-ahmed.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: rgba(243,246,248,.94);
  border: .4rem solid var(--gray1);
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .3), 0 1.5px 3px 0 rgba(0, 0, 0, .3);
  margin-bottom: 3rem;
}

.profile-thumb img {
  max-width: 20rem;
}

.name {
  font-family: 'Kaushan Script', cursive;
  text-shadow: -1px 0 2px rgb(0 0 0 / 70%), 0 1px 2px rgb(0 0 0 / 70%), 1px 0 2px rgb(0 0 0 / 70%), 0 -1px 2px rgb(0 0 0 / 70%);
  transform: rotate(-5deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.name::before {
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  box-shadow: 2px 2px 2px black;
}

.name::after {
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  box-shadow: 2px 2px 2px black;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

footer {
  text-align: center;
  padding: 2rem 0;
}
