@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto&family=Ubuntu&display=swap');
@import url('./variables.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* set 1rem = 10px */
  scroll-behavior: smooth;
 }

body {
  font-family: Roboto, 'Open Sans', sans-serif;
  background-color: var(--primary);
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6{
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

::selection{
  color: #fff;
  background: #3ea0e2;
}

.box-shadow {
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 2px 3px rgb(0 0 0 / 20%);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 3rem 0 3rem 0;
  font-size: 1.8rem;
}

header,
footer {
  flex: 0 0 auto;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

header nav ul li a {
  text-decoration: none;
  color: #dae2eb;
  padding: 1rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  color: #fff;
  border-bottom: 3px solid var(--secondary);
}

.cta {
  margin-left: 3rem;
}

.cta a {
  padding: 5px 10px;
  border-radius: .5rem;
  color: #fff;
  background-color: var(--secondary);
  box-shadow: 0px 15px 20px rgb(46 229 157 / 40%);
}

.cta a:hover,
.cta a:focus {
  border: none;
}

footer {
  text-align: center;
  padding: 2rem 0;
}

.page-title {
  padding: 3rem 0 3rem 0;
  text-align: center;
}

.page-title h2:after {
  background: #dddddd;
  content: '';
  display: block;
  height: 2px;
  margin: 1.5rem auto 0 auto;
  position: relative;
  width: 10rem;
}

.page-content {
  line-height: 2.5rem;
  text-align: justify;
  background-color: #fff;
  padding: 3rem;
  max-width: 75rem;
  margin: 0 auto;
}
