@import url('./common.style.css');

.profile-thumb {
  background-image: url("../images/bablu-ahmed.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: rgba(243,246,248,.94);
  border: .4rem solid var(--gray1);
  box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, .3), 0 1.5px 3px 0 rgba(0, 0, 0, .3);
  margin-bottom: 3rem;
}

.profile-thumb img {
  max-width: 20rem;
}

.name {
  font-family: 'Kaushan Script', cursive;
  text-shadow: -1px 0 2px rgb(0 0 0 / 70%), 0 1px 2px rgb(0 0 0 / 70%), 1px 0 2px rgb(0 0 0 / 70%), 0 -1px 2px rgb(0 0 0 / 70%);
  transform: rotate(-5deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
}

.name::before {
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  box-shadow: 2px 2px 2px black;
}

.name::after {
  width: 30px;
  height: 4px;
  content: '';
  background: #fff;
  box-shadow: 2px 2px 2px black;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
